<form method="get" action="/quizes">
  <input type="text" name="search" value="Buscar pregunta" />
  <input type="submit" value="Enviar"><br><br>
</form>
<table id="tabla-preg">
  <% var i; for (i=0; i < quizes.length; i++) { %>
<<<<<<< HEAD
     <tr>
	   <td><%= quizes[i].tema %></td>
	   <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>

	     <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
	     <td>
           <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
             <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
               Borrar
             </button>
           </form>
         </td>

	 </tr>
  <% } %>
</table><br>
=======
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <tr><td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td></tr>
    <td>
      <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
          Borrar
        </button>
      </form>
    </td>
  <% } %>
</table>
>>>>>>> 37ac1523894882ba704ab35fc6018feebe539dd3
<a href="/quizes/new"><button type="button" name="button">Crear pregunta</button></a>
